/* * {
  outline: 1px solid green;
} */

/* Подключение шрифтов */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


/* Общая стилизация*/
html {
  height: 100%;
}

body{
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #F2F2F2;
  color: #000000;

  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Header*/
.page-header {
  background: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  z-index: 1;
}

.navigation {
  display: flex;
  margin-left: 50px;
}

.navigation-sedona-logo {
  display: block;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-left: 40px;
  padding: 0;
  list-style: none;
  max-width: 500px;
}

.navigation-item {
  padding-top: 20px;
}

.navigation-user-list {
  display: flex;

  margin: 0;
  margin-left: auto;
  margin-right: 70px;
  padding: 0;
  list-style: none;
  max-width: 350px;
}

.page-header .navigation-link {
  position: relative;

  padding: 20px 16px;

  text-align: center;
  text-decoration: none;
  background: #FFFFFF;
  color: #000000;
}

.navigation-link.current::before {
  content: "";
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #000000;
}

.navigation-link-search {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
}

.navigation-link-favourites {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/favourites.svg");
  background-repeat: no-repeat;
}

.navigation-link-want-to-go {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;

  border-radius: 4px;
}

.button.navigation-link-want-to-go {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #756157;;
  color: #FFFFFF;
}

/*Main главной страницы*/
.main-container {
  flex-grow: 1;
}

.main-index, .main-inner {
  background: #FFFFFF;
  margin-top: -11px;
}

.hero {
  background-color: rgb(44, 71, 94);
  background-image: url("../images/sedona-background-bottom.svg"), url("../images/sedona-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 101%, cover;
  background-position: bottom, center bottom;
  text-align: center;

  padding-top: 50px;
  padding-bottom: 80px;
}

.advantages-start-wrapper {
  padding: 69px 274px;
  margin-bottom: 20px;
}

.advantages-end-wrapper {
  padding: 64px 347px;
}

.lead {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.desc {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* Плюсы Седоны */
.advantages-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  box-sizing: border-box;
}

.advantages-title {
  margin: 0 auto;
  width: 175px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantage-description {
  text-align: center;
}

.advantage-image {
  display: block;
  align-self: center;
}

.advantages-item-wrapper {
  display: flex;
  flex-direction: column ;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;

  width: 400px;
  min-height: 385px;
  padding: 100px 85px;
  margin-top: auto;
  margin-bottom: auto;
}

.advantages-item-wide {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  text-align: center;

  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-item-wide-reverse {
  flex-direction: row-reverse;
}

.advantages-item-odd {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-even {
  background: rgba(131, 179, 211, 0.2);
}


/* Сервисы */
.services-list {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  box-sizing: border-box;
  padding: 80px 85px;
  min-height: 385px;
  min-width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 30px;
  position: relative;
}

.services-title-housing::before {
  content: "";
  background-image: url("../images/housing.svg");
  background-repeat: no-repeat;
  width: 76px;
  height: 72px;

  position: absolute;
  top: -102px;
}

.services-title-food::before {
  content: "";
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 70px;

  position: absolute;
  top: -100px;
  left: -13px;
}

.services-title-souvenir::before {
  content: "";
  background-image: url("../images/souvenir.svg");
  background-repeat: no-repeat;
  width: 69px;
  height: 76px;

  position: absolute;
  top: -106px;
  right: 22px;
}

.service-description {
  width: 230px;
  text-align: center;
  margin: 0;
}

.services-item-odd {
  background-color: rgba(131, 179, 211, 0.2);
}

.search {
  padding: 96px 304px;
  text-align: center;
}

.search-button {
  display: inline-block;
  padding: 8px 50px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}


/* Блок подписки */
.newsletter {
  padding-top: 96px;
  padding-right: 258px;
  padding-bottom: 104px;
  padding-left: 258px;


  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.newsletter-form {
  display: flex;
}

.newsletter-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.field {
  padding: 14px 20px;
  flex-grow: 1;

  font-size: 18px;
  background-color: #FFFFFF;
  color: #000000;
}

.newsletter-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #FFFFFF;
}


/* Footer главной страницы и каталога*/
.page-footer {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  padding-top: 40px;
  padding-right: 70px;
  padding-bottom: 30px;
  padding-left: 70px;
  width: 1200px;
  background-color: #FFFFFF;
}

.socials-list {
  display: flex;

  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style: none;
  min-width: 150px;
}

.socials-item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 47px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  height: 40px;
  width: 47px;
}

.socials-link:hover svg path{
  fill: #68A2CA;
}

.socials-link:focus svg path {
  fill: #68A2CA;
}

.socials-link:active {
  fill: #68A2CA;
  fill-opacity: 0.3;
}

.page-footer-address-phone {
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.page-footer-address-phone:hover {
  color: #756157;
}

.page-footer-address-phone:active {
  opacity: 0.3;
}

.page-footer-logo {
  display: flex;
  align-items: center;
}

.page-footer-logo:hover svg path {
  fill: #756157;
}

.page-footer-logo:active svg path {
  fill-opacity: 0.3;
}

/* Каталог */

/* Фильтр каталога */
.inner-header-title {
  margin: 0;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.filter {
  padding: 70px;
  padding-top: 35px;

  background-color: rgb(44, 71, 94);
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.filter-wrapper-right {
  display: flex;
  margin-left: auto;
}

.breadcrumbs-list {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  display: block;
  min-width: 13px;
  min-height: 13px;

  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group-left {
  margin-right: 70px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #FFFFFF;
  border-radius: 4px;
  border-color: #82B3D3;

  padding: 8px 50px;
  margin-bottom: 32px;
}

.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;

  padding: 8px 50px;
}

/* Каталог отелей */
/* Header каталога */
.catalog-hotels {
  padding-top: 50px;
  padding-right: 70px;
  padding-bottom: 52px;
  padding-left: 70px;
}

.catalog-hotels-header {
  display: flex;

  margin-bottom: 40px;
}

.catalog-hotels-amount {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  align-self: center;

  margin-left: auto;
  padding: 14px 20px;
}

.select-control-option {
  color: #333333;
}

.catalog-view-list {
  display: flex;
  max-width: 160px;

  margin: 0;
  margin-left: 70px;
  padding: 0;
  list-style: none;
}

.catalog-view-item {
  border: 1px solid black;
  min-width: 20px;
  border-radius: 4px;

  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-button {
  padding: 12px;
}

.catalog-view-item:last-child {
  margin-right: 0;
}

/* Карточки отелей */
.hotel-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 340px);

  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.hotel-card {
  display: grid;
  row-gap: 16px;
  column-gap: 20px;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;

  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.hotel-card-image {
  display: block;

  grid-column: 1 / span 2;
}

.hotel-card-link {
  text-decoration: none;
  color: #000000;
}

.hotel-card-link-title {
  grid-column: 1 / span 2;

  text-decoration: none;
  color: #000000;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  margin: 0;
  padding: 0;
}

.hotel-card-desc {
  color: #333333;
}

.hotel-card-desc-housing-type {
  word-break: break-all;
}

.hotel-card-desc-price {
  margin-left: auto;
}

.hotel-card-stars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.hotel-card-two-stars {
  background-image: url("../images/catalog/stars-2.svg");
}

.hotel-card-three-stars {
  background-image: url("../images/catalog/stars-3.svg");
}

.hotel-card-four-stars {
  background-image: url("../images/catalog/stars-4.svg");
}

.hotel-card-rating {
  background-color: #F2F2F2;
  padding: 8px 16px;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hotel-card-more, .hotel-card-button-favourite {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 8px 16px;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hotel-card-more {
  background-color: #756157;
  text-decoration: none;
}

.hotel-card-button-favourite {
  background-color: #82B3D3;
  text-decoration: none;
}

.hotel-card-button-favourite.favourite {
  background-color: #7DB54F;
  text-decoration: none;
}


/* Блок подписки на странице каталога */
.catalog-newsletter {
  background-image: none;
  background-color: #FFFFFF;
  color: #000000;
}


/* Пагинация */
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid rgb(242, 242, 242);

  margin: 0;
  margin-top: 40px;
  padding: 0;
  padding-top: 40px;
  list-style: none;
}

.pagination-item {
  margin-right: 8px;
  margin-bottom: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 12px;
  min-width: 60px;
  height: 60px;

  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(130, 179, 211);
}

.pagination-link:hover {
  background-color: rgb(104, 162, 202);
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.pagination-link.pagination-three-dots {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.pagination-link.pagination-current {
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  background: rgb(242, 242, 242);
}
